@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-background: #202020;
  --principal-font: #DEDEDE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-background: #202020;
  }
}

body {
  color: var(--principal-font);
  background: var(--dark-background);
  smoothing: subpixel-antialiased;
}

