@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-background: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-background: #202020;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--dark-background);
}
